<?php
/** @var $block Elogic\BundleAttachedToSimple\Block\AttachedBundles */
$bundles = $block->getBundleProductsData();
?>
<?php if ($block->checkProductIsSimpleOrConfigurable()): ?>
<?php foreach ($bundles as $bundle): ?>
    <span><?= $bundle['name'] ?></span>
    <img src="<?=$bundle['image']?>">
        <?php
        $postDataHelper = $this->helper(Magento\Framework\Data\Helper\PostHelper::class);
        $postData = $postDataHelper->getPostData(
            $block->escapeUrl($block->getAddToCartUrl($block->getBundleProduct($bundle['id']))),
            ['product' => (int) $bundle['id']]
        )
        ?>
        <button class="action tocart primary"
                data-post='<?= /* @noEscape */ $postData ?>'
                type="submit"
                title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
        </button>
<?php endforeach; ?>
<?php endif; ?>
